body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header-section {
  background-image: url(../images/Sections-background/section-1-header.jpg);
  background-attachment: fixed;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #9e9e9b;
  opacity: 0.9;
  justify-content: space-around;
}

/* .header-logo {
      padding-left: 380px;
  } */

.nav {
}

.nav-list {
  display: flex;
}

.nav-list-item {
  margin-right: 21px;
}

/* .nav-list-item:first-child {
      margin-left: 200px;
  } */

.nav-list-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.nav-list-link:hover {
  color: #18cfab;
  padding-bottom: 50px;
  border-bottom: 1px solid #18cfab;
}

.header-search {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.header-content {
  padding-top: 379px;
  padding-bottom: 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-content-subtitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 78px;
  color: #ffffff;
  font-size: 35px;
  margin-bottom: 22px;
}

.header-content-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 78px;
  color: #ffffff;
  margin-bottom: 35px;
}

.header-content-text {
  text-align: center;
  color: #d4d4d4;
  font-size: 24px;
  opacity: 0.8;
}

.header-content-buttons {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

.header-button {
  width: 170px;
  height: 55px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
}

.header-button:first-child {
  background: #18cfab;
  margin-right: 26px;
}

.header-button:last-child {
  background: #00cbf6;
}

.benefits {
}

.benefits-list {
  display: flex;
}

.benefits-list-item {
  width: 482px;
  text-align: center;
  background-color: #1c2a33;
}

.benefits-list-item:nth-child(2) {
  background-color: #18cfab;
}

.benefits-list-item:nth-child(4) {
  background-color: #18cfab;
}

.benefits-content-wrapper {
  margin-top: 95px;
}

.benefits-list-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #18cfab;
  margin-bottom: 110px;
  margin-top: 58px;
}

.benefits-list-text1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 110px;
  margin-top: 80px;
}

.our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-services-title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  margin-top: 85px;
  margin-bottom: 101px;
}

.our-services-list {
  display: flex;
}

.our-services-list-item {
  font-size: 15.9859px;
  line-height: 39px;
  text-align: center;
  color: #717171;
  width: 192px;
  background-color: #f8fcfe;
  border: 1px solid #edefef;
}

.our-services-list-item:hover {
  border: 1px solid #18cfab;
  cursor: pointer;
}

.our-services-content {
  display: flex;
  margin-top: 30px;
  margin-bottom: 90px;
}

.our-services-text {
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
  margin-left: 20px;
}

.purchase-section {
  background-image: url(../images/Sections-background/section-2.jpg);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.purchase-title {
  font-weight: bold;
font-size: 40px;
line-height: 40px;
text-transform: uppercase;
color: #18CFAB;
margin-bottom: 12px;
}

.purchase-text {
  font-size: 16px;
line-height: 16px;
color: #D8D8D8;
margin-bottom: 70px;
}

.banner-button {
  width: 170px;
  height: 55px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  background-color: #18CFAB;
  margin-bottom: 127px;
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 36px;
line-height: 40px;
text-align: center;
color: #4E4E4E;
margin-top: 96px;
position: relative;
}

.portfolio-nav {
  display: flex;
  margin-bottom: 71px;
}

.portfolio-nav-item {
  padding-left: 36px;
  padding-right: 36px;
  font-size: 14px;
line-height: 42px;
color: #717171;
border: 1px solid #DADADA;
}

.portfolio-nav-item:hover {
  border: 1px solid #18cfab;
  cursor: pointer;
  color: #18cfab;
}

.portfolio-posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}

.portfolio-post-wrapper {
  position: relative;
  width: 285px;
}

.portfolio-post-hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E9EDEF;
  transition: all 0.3s;
  border-top: 2px solid #18cfab;
  display: flex;
  flex-direction: column;
}

.portfolio-post-wrapper:hover .portfolio-post-hover {
  opacity: 1;
}

.hover-btns-wrapper {
  justify-content: center;
  margin-top: 46px;
  margin-bottom: 46px;
  display: flex;
  
}

.portfolio-post-hover-btn1 {
  border: 1px solid #18cfab;
  width: 41px;
height: 40px;
border-radius: 50%;
background: #E9EDEF;
margin-right: 3px;
}

.portfolio-post-hover-btn2 {
  border: 1px solid #18cfab;
  width: 41px;
height: 40px;
border-radius: 50%;
background: #18cfab;
}

.portfolio-post-hover-title {
  font-weight: bold;
  font-size: 14.1771px;
line-height: 15px;
text-transform: uppercase;
color: #18CFAB;
text-align: center;
margin-bottom: 12px;
}

.portfolio-post-hover-text {
  font-weight: 300;
font-size: 12.1518px;
line-height: 13px;
color: #8A8A8A;
text-align: center;
}

.load-more-btn {
  
  width: 168px;
height: 63px;
cursor: pointer;
background: #18CFAB;
font-weight: bold;
font-size: 14px;
text-transform: uppercase;
color: #FFFFFF;
border: 0;
border-radius: 4px;
}

.breaking-news {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.breaking-posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.breaking-post {
  position: relative;
  width: 263px;
  margin-right: 27px;
  margin-bottom: 44px;
}

.breaking-post-date {
  position: absolute;
  top: 0;
right: 0;
  width: 70px;
height: 68px;
background-color: #203E38;
display: flex;
flex-direction: column;
align-items: center;
}

.breaking-post:hover .breaking-post-date {
  background-color: #18CFAB;
  transition: all 0.3s;
}

.post-date-number {
  font-size: 16px;
line-height: 16px;
color: #FFFFFF;
}

.post-date-number:first-child {
  margin-top: 16px;
}

.post-date-number:last-child {
  margin-top: 10px;
}

.breaking-post-title {
  font-weight: bold;
font-size: 17.9885px;
line-height: 39px;
color: #717171;
margin-left: 15px;
}

.breaking-post-text1 {
  font-weight: 300;
font-size: 13.991px;
color: #777777;
margin-left: 20px;
border-right: 1px solid #777777;
padding-right: 17px;
margin-right: 17px;
}

.breaking-post-text2 {
  font-weight: 300;
font-size: 13.991px;
color: #777777;
}

.gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-posts-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1000px;
}

.gallery-post {
  margin-bottom: 15px;
  margin-right: 15px;
}

/* .post-img {
  width: 100%;
} */

.main-footer {
  background-color: #22353F;
  margin-top: 67px;
}

.legal-inf {
  font-weight: 300;
font-size: 14px;
line-height: 26px;
text-align: center;
color: #AEAEAE;
padding: 48px;
}

.legal-inf-selected {
  color: #18CFAB;
  margin-left: 4px;
  margin-right: 4px;
}

.scroll-to-top {
  width: 40px;
  line-height: 40px;
  z-index: 999;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 0;
  
}