.image-with-hover-block {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: all 0.3s;
}

.image-with-hover-wrapper:hover .image-with-hover-block {
  opacity: 1;
  bottom: 23px;
}

.image-with-hover-wrapper {
  position: relative;
  width: 238px; 
}

.basic-title {
  position: relative;
  text-align: center;
}

.basic-title-with-borders::after, .basic-title-with-borders::before {
  content: "";
  display: block;
  width: 75px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translate(-50%);
  /* либо дисплей флекс алайн итемс центер */
}

.basic-title-with-borders::after {
  bottom: -20px;
  left: 48%;
}